.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.title {
  margin-bottom: 50px;
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 390px;
}
